.cart {
  width: 100%;
  min-height: 100vh;
//   z-index: 20;
  display: flex;
  flex-direction: row;
//   opacity: 788;
  > main {
    min-height: 80%;
    min-width: 50%;
    margin: auto;
    padding: 2rem;
    z-index: 20;
    opacity: 788;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    > article {
      padding: 2rem;
      > div {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;
      }

      > a {
        background-color: blueviolet;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
}

.cartItem {
    box-shadow: 1px 1px 1px 1px black;
//   background-color: rgb(246, 246, 246);
  margin: 3rem;
  display: flex;
  min-width: 40%;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 3.5rem;
  border-radius: 5px;
  &:hover{
    scale: 1.04;
    transition: .5s;
  }
>div .first
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  > div {
    
    align-items: center;

    > h4 {
      font-weight: 200;
      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    > img {
      height: 80px;
    }

    > input {
      text-align: center;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border: none;
      margin: 0.25rem;
      outline: none;
      border-radius: 5px;
      color: red;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0%;
      }
    }

    > button {
      cursor: pointer;
      border: none;
      padding: 0.5rem;
      background-color: black;
      color: white;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .cart > main > article > a {
    display: block;
    width: 100%;
  }
  .cartItem
  {
    min-width: 90%;
  }
}
@media(max-width:1025px)
{
    .cartItem
    {
      min-width: 90%;
    }
}