
.dashboard {
    // background-color: black;
  min-width: 100%;
  min-height: 100vh;
  > main {
    height: 100%;
    min-width: 100%;
    // background-color: red;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    .sub {
    //    background-color: blue;
        display: flex;
        flex-direction: column;
        width: 20%;
      padding: 2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      > div {
        background-color: rgba(0, 0, 0, 0.847);
        color: white;
        // color: blueviolet;
        border-radius: 100%;
        text-align: center;
        height: 120px;
        width: 120px;
        padding: 2rem 0;
        > h3 {
          font: 800 2rem "Roboto";
        }
        > p {
          font: 100 1.1rem "Roboto";
        }
      }
    }

    > section {
        // background-color: yellow;
      display: flex;
      justify-content: space-between;
      padding: 6rem;
      width: 80%;
      > div {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
        > a {
          white-space: nowrap;
          color: white;
          padding: .7rem;
          background-color: black;
          width: 70%;
          text-align: center;
          border-radius: 5px;
          margin: 1rem;
          &:hover {
            background-color: rgba(0, 0, 0, 0.788);
          }
        }
      }

      > aside {
        // margin-top: -4rem;
        width: 100%;
        // height: 100%;
        // font-size: xx-large;
        // background-color: red;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .dashboard {
    height: 100vmin;
    > main > section {
      padding: 2rem;
    }
    > aside {
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .dashboard {
    height: unset;
    min-height: 100vh;
    > main {
      > article {
        flex-direction: column;
        > div {
          margin: 1rem;
        }
      }

      > section {
        flex-direction: column;
        padding: 2rem;
        > div {
          width: 100%;
          margin: 1rem 0;
        }
        > aside {
            // margin-top: 4rem;
          width: 100%;
        }
      }
    }
  }
}
